@import url("common.css");


.mfx-filter-pane .mfx-button {
    -fx-pref-width: 135;
    -fx-pref-height: 36;
    -fx-background-color: #2c3e50;
    -fx-background-radius: 15;
    -fx-text-fill: white;

    -fx-font-family: "Open Sans Bold";
}
.grid-pane {
    -fx-background-color: transparent;
}

.title-label {
    -fx-font-size: 24;
    -fx-text-fill: -mfx-text-he;
}

.mfx-filter-dialog > .mfx-button {
    -fx-border-color: #2c3e50;
    -fx-border-radius: 2;
}

.mfx-pagination .mfx-page:selected {
    -fx-background-color: #2c3e50;
}

